.navbar {
    background-color: rgb(208, 118, 223);
}

.color-me {
  color: white;
}

.bg-secondary {
    color: white;
}

.btn-primary:hover {
    background-color: blue;
    color:white;
}

.jumbotron {
    position: relative;
    background-image: url("page1.jpg");
    padding-top:20px;  
    height: 100vh;
  }

.jumbotron.text-center.hero-background-img h1{
    font-size: 9em;
    text-shadow: 0px 0px;
}

.jumbotron.text-center.hero-background-img h2{
  font-size: 2em;
  text-shadow: 0px 0px;
}

.jumbotron-background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  color: white;
}

h2 {
  text-decoration: none;
  text-shadow: 0px 0px;
  color: #000;
}

h3 {
  font-size: 1.25em;
  text-shadow: 0px 0px;
}

.phone {
  size: 10em;
}